@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-red-violet: #df0f6e;
    font-family: Montserrat;
}

body {
    width: 1400px;
}



.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
img {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    padding: 5px 0 5px 100px;
}

.links {
    display: flex;
    align-items: center;
    padding-left: 380px;
}
h1 {
    text-transform: uppercase;
    padding-left: 20px;
    
}
a {
    text-decoration: none;
    color: #df0f6e;
}
ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 40px;
    
}
main {
    width: 1300px;
    height: 200px;
    background-image: url('/food-menu/img/search_area_bg.jpg');
    margin-left: 40px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 400px;
    height: 25px;
    color: darkgray;
    border-radius: 5px;
    border-style: none;
}
button {
    width: 100px;
    height: 28px;
    margin-left: 5px;
    border-radius: 5px;
}
.btn {
    background-color: #f25fa2;
    padding: 5px 10px;
    color: white;
    border-style: none;
    cursor: pointer;
}
section {
    
    height: 500px;
}
h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}
.dish {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: right;
    padding-left: 200px;
}
.dish-1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url('/food-menu/img/food_1.jpg');
}
.dish-2 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url('/food-menu/img/food_2.jpg');
}
.dish-3 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url('/food-menu/img/food_3.jpg');
}
.item {
    color: white;
    background-color: #f25fa2;
    width: 200px;
    height: 25px;
    margin-left: 50px;
    margin-top: 250px;
    border-radius: 5px;
}
p {
    font-size: large;
    text-decoration: solid;
    font-weight: bold;
    padding-left: 25px;
}

